body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    font-style: italic;
    background: url('Image/Wallpaper.png') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    background-color:#2F2524;
    color: #CEAC51;
    padding: 20px;
    margin: 0;
    text-align: left;
    padding-left: 50px;
}

#downloadContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#Button, #generateAgainButton {
    background-color: #CEAC51;
    border: 1px solid #2F2524;
    color: #2F2524;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

#Button:hover {
    background-color: #CEAC51;
}

#generateAgainButton {
    background-color: #2F2524;
    color: #CEAC51;
    border: none;
}

#generateAgainButton:hover {
    background-color: #2F2524;
}
