body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    font-style: italic;
    background: url('../Image/Wallpaper.PNG') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    background-color: #2F2524;
    color: #CEAC51;
    padding: 20px;
    margin: 0;
    text-align: left;
    padding-left: 50px;
}

#gifContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#randomMessage {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    font-size: 22px;
    color: #CEAC51;
    text-align: center;
    -webkit-text-stroke: 1px #2F2524;
}
